{% extends "account_base.html" %}
{% load staticfiles %}
{% block content %}
<style type="text/css">

body {
    /*background: #545963;*/
    /*color: white;*/
    /*margin-top: 20px;*/
}

.comment-wrapper .panel-body {
    max-height: 650px;
    overflow: auto;
}

.comment-wrapper .media-list .media img {
    width: 64px;
    height: 64px;
    border: 2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
    border-bottom: 1px dashed #efefef;
    margin-bottom: 25px;
}

.filled-star {
    color: green;
    font-size: 20px;
}

.empty-star {
    color: black;
    font-size: 20px;
}

.glyphicon-thumbs-up, .glyphicon-thumbs-down{
    font-size: 15px;
}

.user-rating {
    direction: rtl;
    font-size: 20px;
    unicode-bidi: bidi-override;
    padding: 10px 30px;
    display: inline-block;
}

.user-rating input {
    opacity: 0;
    position: relative;
    left: -15px;
    z-index: 2;
    cursor: pointer;
}

.user-rating span.star:before {
    color: green;
    content: "ï€†";
}

.user-rating span.star {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    position: relative;
    z-index: 1;
}

.user-rating span {
    margin-left: -15px;
}

.user-rating span.star:before {
    color: green;
    content: "\f006";
}

.user-rating input:hover+span.star:before,
.user-rating input:hover+span.star~span.star:before,
.user-rating input:checked+span.star:before,
.user-rating input:checked+span.star~span.star:before {
    color: green;
    content: "\f005";
}

.selected-rating {
    color: green;
    font-weight: bold;
    font-size: 3em;
}

.selected-rating-2 {
    color: green;
    font-weight: bold;
    font-size: 3em;
}

.edit-delete-link {
    cursor: pointer;
}

.edit-delete-link:hover{
    color: lightblue;
}

</style>
<div class="container">
    <div class="row">
        <div class="col-sm-2 hidden-xs">
            <img style="width: 150%;" src="{{book.thumbnail}}" class="img-fluid" alt="">
        </div>
        <div class="col-sm-10" style="padding-left: 90px;">
            <h1><a href="http://www.google.com/search?q={{book.title}}">{{book.title}}</a></h1>
            <div class="btn-group pull-right">
                <button style="font-size: 20px; cursor: pointer;" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <b><i class="glyphicon glyphicon-chevron-down"></i></b>
                </button>
                <div class="dropdown-menu">
                    <div>
                        {% if in_favourite_Book %}
                            <button type="button" class="btn btn-danger btn-sm" id="favourites" status="True">
                                <i class="fa fa-star"></i> Remove from my favourites list
                            </button>
                        {% else %}
                            <button type="button" class="btn btn-info btn-sm" id="favourites" status="False">
                                <i class="fa fa-star"></i> Add to my favourite list
                            </button>
                        {% endif %}
                    </div>
                    <div>
                        {% if in_have_read_Book %}
                            <button type="button" class="btn btn-danger btn-sm" id="have-read" status="True">
                                <i class="fa fa-book"></i> Remove from my have read list
                            </button>
                        {% else %}
                            <button type="button" class="btn btn-info btn-sm" id="have-read" status="False">
                                <i class="fa fa-book"></i> Add to my have read list
                            </button>
                        {% endif %}
                    </div>
                    <div>
                        {% if in_to_read_Book %}
                            <button type="button" class="btn btn-danger btn-sm" id="to-read" status="True">
                                <i class="glyphicon glyphicon-book"></i> Remove from my to read list
                            </button>
                        {% else %}
                            <button type="button" class="btn btn-info btn-sm" id="to-read" status="False">
                                <i class="glyphicon glyphicon-book"></i> Add to my to read list
                            </button>
                        {% endif %}
                    </div>
                    <div>
                        {% if in_reading_Book %}
                            <button type="button" class="btn btn-danger btn-sm" id="reading-now" status="True">
                                <i class='fas fa-book-open'></i> Remove from my reading now list
                            </button>
                        {% else %}
                            <button type="button" class="btn btn-info btn-sm" id="reading-now" status="False">
                                <i class='fas fa-book-open'></i> Add to reading now list
                            </button>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div id="book-average-rating"></div>
            <a href="#">({{book.ratings_count}}) Votes</a>
            <div class="p-4">
                <p class="lead font-weight-bold">Description</p>
                <p>{{book.description}}</p>
            </div>
            <br>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="tabbable-panel">
                <div class="tabbable-line">
                    <ul class="nav nav-tabs ">
                        <li class="active">
                            <a href="#tab_default_2" data-toggle="tab">Book Info</a>
                        </li>
                        <li>
                            <a href="#tab_default_3" data-toggle="tab">Reviews</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_default_2">
                            <br>
                            <div class="row">
                                <div class="col-xs-6">
                                    <dl class="dl-horizontal">
                                        <dt>Authors</dt>
                                        <dd>{{book.authors}}</dd>
                                        <br>
                                        <dt>Publisher</dt>
                                        <dd>{{book.publisher}}</dd>
                                        <br>
                                        <dt>ISBN 10</dt>
                                        <dd>{{book.isbn_10}}</dd>
                                    </dl>
                                </div>
                                <div class="col-xs-6">
                                    <dl class="dl-horizontal">
                                        <dt>Published Date</dt>
                                        <dd>{{book.published_date}}</dd>
                                        <br>
                                        <dt>Genre</dt>
                                        <dd>{{book.genre}}</dd>
                                        <br>
                                        <dt>ISBN 13</dt>
                                        <dd>{{book.isbn_13}}</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab_default_3">
                            <div class="">
                                <div class="comment-wrapper">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            Comment Panel
                                        </div>
                                        <div class="panel-body">
                                            <textarea class="form-control" placeholder="write a comment..." id="comment-description" rows="3"></textarea><br>
                                            <form id="user-rating-form">
                                                <span class="user-rating">
                                                    <input type="radio" name="rating" value="5"><span class="star"></span>
                                                    <input type="radio" name="rating" value="4"><span class="star"></span>
                                                    <input type="radio" name="rating" value="3"><span class="star"></span>
                                                    <input type="radio" name="rating" value="2"><span class="star"></span>
                                                    <input type="radio" name="rating" value="1"><span class="star"></span>
                                                </span>
                                            </form>
                                            <input type="text" name="selected-rating" id="selected-rating" class="selected-rating" value="0" hidden>
                                            <button class="btn btn-success btn-circle pull-right" type="submit" id="submit_review"><span class="glyphicon glyphicon-send"></span> Submit Comment</button>
                                            <div class="clearfix"></div>
                                            <hr>
                                            <div id="user-reviews">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><br><br>
<script type="text/javascript">
$(document).ready(function() { block_review(); book_average_rating(); });

$('#favourites').click(function() {
    $.ajax({
        type: "PUT",
        data: {
            functionality: 'favourites',
            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
        },
        success: function(response) {
            if (response.status_code == 403) {
                alert(response.message);
                return;
            } else if (response.status_code == 204) {
                var button = $("#favourites")
                if (button.attr("status") == "False") {
                    button.attr("status", "True")
                    button.attr("class", "btn btn-danger btn-sm")
                    button.html(' <i class="fa fa-star"></i> Remove from my favourites list');
                } else {
                    button.attr("status", "False")
                    button.attr("class", "btn btn-info btn-sm")
                    button.html('<i class="fa fa-star"></i> Add to my favourites list');
                }
            }
        }
    });
});

$('#have-read').click(function() {
    $.ajax({
        type: "PUT",
        data: {
            functionality: 'have-read',
            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
        },
        success: function(response) {
            if (response.status_code == 403) {
                alert(response.message);
                return;
            } else if (response.status_code == 204) {
                var button = $("#have-read")
                if (button.attr("status") == "False") {
                    button.attr("status", "True")
                    button.attr("class", "btn btn-danger btn-sm")
                    button.html('<i class="fa fa-book"></i> Remove from my have read list');
                } else {
                    button.attr("status", "False")
                    button.attr("class", "btn btn-info btn-sm")
                    button.html('<i class="fa fa-book"></i> Add to my have read list');
                }
            }
        }
    });
});

$('#to-read').click(function() {
    $.ajax({
        type: "PUT",
        data: {
            functionality: 'to-read',
            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
        },
        success: function(response) {
            if (response.status_code == 403) {
                alert(response.message);
                return;
            } else if (response.status_code == 204) {
                var button = $("#to-read")
                if (button.attr("status") == "False") {
                    button.attr("status", "True")
                    button.attr("class", "btn btn-danger btn-sm")
                    button.html('<i class="glyphicon glyphicon-book"></i> Remove from my to read list');
                } else {
                    button.attr("status", "False")
                    button.attr("class", "btn btn-info btn-sm")
                    button.html('<i class="glyphicon glyphicon-book"></i> Add to my to read list');
                }
            }
        }
    });
});

$('#reading-now').click(function() {
    $.ajax({
        type: "PUT",
        data: {
            functionality: 'reading-now',
            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
        },
        success: function(response) {
            if (response.status_code == 403) {
                alert(response.message);
                return;
            } else if (response.status_code == 204) {
                var button = $("#reading-now")
                if (button.attr("status") == "False") {
                    button.attr("status", "True")
                    button.attr("class", "btn btn-danger btn-sm")
                    button.html('<i class="fas fa-book-open"></i> Remove from my reading now list');
                } else {
                    button.attr("status", "False")
                    button.attr("class", "btn btn-info btn-sm")
                    button.html('<i class="fas fa-book-open"></i> Add to my reading now list');
                }
            }
        }
    });
});


{% if reviews %}
    $("#user-reviews").append('<ul class="media-list">');
    {% for review in reviews %}
        $(".media-list").append(
            '<li class="media" id={{review.user.password}}>' + 
                '<a href="#" class="pull-left">' +
                    '<img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">' +
                '</a>' +
                '<div class="media-body">' +
                    '<span class="text-muted pull-right">' +
                        '<small class="text-muted">{{review.created_at}}</small>' +
                    '</span>' +
                    '<br>' +
                    editAndDeleteComment("{{review.user.password}}", "{{request.user.password}}", "{{review.id}}") +
                    '<strong class="text-success">{{review.user.get_full_name}}</strong>' +
                    '<p id="review_id_{{review.id}}">{{review.description}}</p>' +
                    generate_stars(parseInt("{{review.rating_value}}")) + 
                    '<button id="review_like_id_{{review.id}}" type="button" class="btn btn-default btn-sm" onclick="like_comment({{review.id}})"><span class="glyphicon glyphicon-thumbs-up"></span> ({{review.likes.count}})</button>' +
                    '&nbsp&nbsp' + 
                    '<button id="review_dislike_id_{{review.id}}" type="button" class="btn btn-default btn-sm" onclick="dislike_comment({{review.id}})"><span class="glyphicon glyphicon-thumbs-down"></span> ({{review.dislikes.count}})</button>' + 
                '</div>' +
            '</li>');
    {% endfor %}
    $("#user-reviews").append('</ul>');
{% else %}
    $("#user-reviews").append("<p>No reviews has been made for this book!</p>");
{% endif %}

$('#user-rating-form').on('change','[name="rating"]',function() {
    $('#selected-rating').text($('[name="rating"]:checked').val());
    $('input[name=selected-rating]').val($('[name="rating"]:checked').val());
});

function like_comment(review_id) {
    console.log("like_comment");
    $.ajax({
        type: "PUT",
        data: {
            functionality: 'like-comment',
            review_id: review_id,
            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
        },
        success: function(response) {
            if(response.status_code == 200) {
                var this_review = eval(response.this_review)[0];
                var number_of_likes = this_review.fields.likes.length;
                var number_of_dislikes = this_review.fields.dislikes.length;

                $('#review_like_id_'+review_id).html('<span class="glyphicon glyphicon-thumbs-up"></span> ('+ number_of_likes +')');
                $('#review_dislike_id_'+review_id).html('<span class="glyphicon glyphicon-thumbs-down"></span> ('+ number_of_dislikes +')');
            }
        }
    });
}

function dislike_comment(review_id) {
    console.log("dislike_comment");
    $.ajax({
        type: "PUT",
        data: {
            functionality: 'dislike-comment',
            review_id: review_id,
            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
        },
        success: function(response) {
            if(response.status_code == 200) {
                var this_review = eval(response.this_review)[0];
                var number_of_likes = this_review.fields.likes.length;
                var number_of_dislikes = this_review.fields.dislikes.length;

                $('#review_like_id_'+review_id).html('<span class="glyphicon glyphicon-thumbs-up"></span> ('+ number_of_likes +')');
                $('#review_dislike_id_'+review_id).html('<span class="glyphicon glyphicon-thumbs-down"></span> ('+ number_of_dislikes +')');
            }
        }
    });
}

$('#submit_review').click(function() {
    if ($("#comment-description").val().length==0 || $("#selected-rating").val()==0) {
        alert("You need to give text and star rating!");
        return;
    }
    $.ajax({
        type: "POST",
        data: {
            functionality: 'create-review',
            description: $("#comment-description").val(),
            value: $("#selected-rating").val(),
            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
        },
        success: function(response) {
            if(response.status_code == 200) {
                var new_review = eval(response.new_review)[0];
                var id = new_review.pk;
                var fullname = "{{ request.user.get_full_name }}";
                var created_at = new_review.fields.created_at;
                var rating_value = parseInt(new_review.fields.rating_value);
                var description = new_review.fields.description;

                var first_review = false;
                if($("#user-reviews").has("p").length) {
                    first_review = true;
                    $('#user-reviews > p').remove();
                    $("#user-reviews").append('<ul class="media-list">');
                }

                $(".media-list").prepend(
                    '<li class="media" id={{request.user.password}}>' + 
                        '<a href="#" class="pull-left">' +
                            '<img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">' +
                        '</a>' +
                        '<div class="media-body">' +
                            '<span class="text-muted pull-right">' +
                                '<small class="text-muted">'+ created_at +'</small>' +
                            '</span>' +
                            '<strong class="text-success">'+ fullname +'</strong>' +
                            '<p id="review_id_'+ id +'">'+ description +'</p>' +
                            generate_stars(rating_value) + 
                            '<button id="review_like_id_' + id + '" type="button" class="btn btn-default btn-sm" onclick="like_comment(' + id + ')">' + 
                                '<span class="glyphicon glyphicon-thumbs-up"></span>' + 
                                    ' (0)' + 
                            '</button>' + 
                            '&nbsp&nbsp' + 
                            '<button id="review_dislike_id_' + id + '" type="button" class="btn btn-default btn-sm" onclick="dislike_comment(' + id + ')">' + 
                                '<span class="glyphicon glyphicon-thumbs-down"></span>' + 
                                    ' (0)' + 
                            '</button>' + 
                        '</div>' +
                    '</li>');

                if(first_review){$("#user-reviews").append('</ul>');}
                block_review();
            }
        }
    });
});

function block_review() {
    {% if user.is_authenticated %}
        var user_comment_exists = document.getElementById("{{request.user.password}}"); 
        if(user_comment_exists) {
            $('#submit_review').prop('disabled', true);
            $('#comment-description').val('').attr("placeholder", "You have already given a review!");
            $('#comment-description').attr("disabled", "true");
            $('#user-rating-form').attr("hidden", "true");
        }
    {% endif %}
}

function unblock_review() {
    {% if user.is_authenticated %}
        var user_comment_exists = document.getElementById("{{request.user.password}}"); 
        if(!user_comment_exists) {
            $('#submit_review').prop('disabled', false);
            $('#comment-description').val('').attr("placeholder", "write a comment...");
            $('#comment-description').removeAttr("disabled");
            $('#user-rating-form').removeAttr("hidden");
        }
    {% endif %}
}

function generate_stars(rating_value) {
    var stars = "";
    for (var i = 0; i < rating_value; i++) {
        stars += '<i class="fa fa-star filled-star">&nbsp;</i>';
    }
    for (var j = i; i < 5; i++) {
        stars += '<i class="fa fa-star empty-star">&nbsp;</i>';
    }
    return stars;
}

function book_average_rating(argument) {
    var average = Math.round("{{ book.average_rating }}");
    var stars = generate_stars(average);
    $('#book-average-rating').append(stars);
}

function editAndDeleteComment(reviewId, authenticatedId, commentId) {
    if (reviewId == authenticatedId) {
        return `<div class="btn-group pull-right">
                    <button style="font-size: 20px; cursor: pointer;" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <b>...</b>
                    </button>
                    <div class="dropdown-menu">
                        <div class="edit-delete-link">&nbsp;&nbsp;
                            <i class="glyphicon glyphicon-pencil">&nbsp;Edit</i>
                        </div>
                        <div class="edit-delete-link" onclick="deleteComment(`+commentId+`)";>&nbsp;&nbsp;
                            <i class="glyphicon glyphicon-trash">&nbsp;Delete</i>
                        </div>
                    </div>
                </div>`;    
    }
    return "";
}

function deleteComment(commentId) {
    $.ajax({
        type: "DELETE",
        data: {
            functionality: 'delete-review',
            description: commentId,
            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
        },
        success: function(response) {
            if(response.status_code == 200 && response.removed) {
                document.getElementById('{{request.user.password}}').remove();
                unblock_review();
            }
        }
    })
}
</script>
{% endblock %}