{% extends "account_base.html" %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/searchbox.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/mainpage.css' %}" />
<style type="text/css">
body {
    /*background: #dbdbdb;*/
    color: black;
}

</style>
<div class="container">
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" name="booksearch" class="search-query form-control" placeholder="Search" />
                    <span class="input-group-btn">
                        <button class="btn btn-danger" type="button">
                            <span class=" glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="container">
    {% if bookresults %}
        <div class="content-wrapper">
            <div class="w-container">
                <div class="w-row">
                    <div class="content-column w-col w-col-9">
                        <div class="w-dyn-list">
                            <div class="w-dyn-items">
                                {% for books in bookresults %}
                                <br>
                                    <div class="w-dyn-item">
                                        <div class="post-wrapper">
                                            <div class="post-content">
                                                <div class="w-row">
                                                    <div class="w-col w-col-4 w-col-medium-4">
                                                        <img class="blog-image w-inline-block" alt="" src="{{books.thumbnail}}"/>
                                                    </div>
                                                    <div class="w-col w-col-8 w-col-medium-8">
                                                        <a class="blog-title-link w-inline-block" href="{% url 'book:bookinstance' isbn_13=books.isbn_13 %}">
                                                            <h2 class="blog-title">{{books.title}}</h2>
                                                        </a>
                                                        <div class="details-wrapper">
                                                            <div class="post-info">Published Date: {{books.published_date}}</div>
                                                            <div class="post-info">|</div>
                                                            <div class="post-info">Publisher: {{books.publisher}}</div>
                                                        </div>
                                                        <div class="details-wrapper">
                                                            <div class="post-info"> Authors: {{books.authors}}</div>
                                                            <div class="post-info">|</div>
                                                            <div class="post-info">Genre: {{books.genre}}</div>
                                                        </div>
                                                        <div class="details-wrapper">
                                                            <div class="post-info"> Average Rating: {{books.average_rating}}</div>
                                                            <div class="post-info">|</div>
                                                            <div class="post-info">Ratings Count: {{books.ratings_count}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if no_result %}
        <br><br>
        <div style="text-align: center;margin: auto;" class="alert alert-danger" role="alert"> {{no_result}} </div>
    {% endif %}
</div>
<script type="text/javascript">
    $(window).resize(function() {
  console.log('window was resized' + window.innerWidth);
});
</script>
{% endblock %}