{% extends "accounts/base.html" %}
{% load static %}
{% block content %}
<style type="text/css">
	button {
		font-family: 'TitilliumText22LRegular', Arial, sans-serif;
		min-width:140px;
	}

	.swiper-slide {
		text-align: center;
		font-size: 18px;
		background: #fff;

		/* Center slide text vertically */
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
	}

	.total-like {
		border: 1px solid;
		border-radius: 50px;
		display: inline-block;
		font-weight: 500;
		height: 34px;
		line-height: 33px;
		padding: 0 13px;
		vertical-align: top;
	}
	.text-black {
		color: #000000;
	}
	.reviews-members .media .mr-3 {
		width: 56px;
		height: 56px;
		object-fit: cover;
	}
	.rounded-pill {
		border-radius: 50rem!important;
	}
	.total-like {
		border: 1px solid;
		border-radius: 50px;
		display: inline-block;
		font-weight: 500;
		height: 34px;
		line-height: 33px;
		padding: 0 13px;
		vertical-align: top;
	}
</style>
<div class="container h-100">
	<div class="row h-100 align-items-center">
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mx-auto form p-4">
			<div class="row justify-content-md-center">
				<div class="card">
					<div class="card-body">
						<div class="row">
							<div class="col-sm-4 col-md-auto">
								<img src="https://via.placeholder.com/200x300" style="width: 200px;">
								<!-- {{book.unCleanData.thumbnail}} -->
								<div style="height: 5px;"></div>
								<div id="id_shelf_buttons">
									<div id="div_favourite_container" class="row justify-content-md-center">
									</div>
									<div style="height: 5px;"></div>
									<div id="div_readingNow_container" class="row justify-content-md-center">
									</div>
									<div style="height: 5px;"></div>
									<div id="div_toRead_container" class="row justify-content-md-center">
									</div>
									<div style="height: 5px;"></div>
									<div id="div_haveRead_container" class="row justify-content-md-center">
									</div>
								</div>
							</div>
							<div class="col-sm-8">
								<h3 class="card-title">{{book.unCleanData.title}}</h3>
								<p class="card-text">by <a href="http://www.google.com/search?q={{book.unCleanData.authors}}">{{book.unCleanData.authors}}</a></p>
								<hr class="my-4">
								<p class="text-justify" id="p_book_description">
									{{book.unCleanData.description|truncatechars:500}}
									<a style="color:#007bff;cursor: pointer;" onclick="showMore();" >Show More...</a>
								</p>
								<hr class="my-4">
								<dl class="row">
									<dt class="col-sm-3">Publisher</dt>
									<dd class="col-sm-9">{{book.unCleanData.publisher}}</dd>
									<dt class="col-sm-3">Genre</dt>
									<dd class="col-sm-9">{{book.unCleanData.genre}}</dd>
									<dt class="col-sm-3">Published Date</dt>
									<dd class="col-sm-9">{{book.unCleanData.publishedDate}}</dd>
								</dl>
								<hr class="my-4">
							</div>
						</div>
						<div class="w-75 p-3"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row h-100 align-items-center">
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mx-auto form p-4">
			<div class="row justify-content-md-center">
				<div class="col-sm-12">
					<div class="card">
						<div class="card-body">
							{% if similarBooks %}
							<p style="font-weight:bold;font-size: 20px">Recently Added Books</p>
							<div class="swiper-container">
								<div class="swiper-wrapper">
									{% for books in similarBooks %}
									<div class="swiper-slide">
										<a style="cursor: pointer;" href="{% url 'book:bookPage' books.isbn13 %}">
											<p class="lead img-responsive">
												<img src="https://via.placeholder.com/200x300" alt="No Image" style="height: 200px;">
												<!-- {{books.thumbnail}} -->
											</p>
											<p align="center">{{books.title}}</p>
										</a>
									</div>
									{% endfor %}
								</div>
								<div class="swiper-button-prev"></div>
								<div class="swiper-button-next"></div>
								<div class="swiper-scrollbar"></div>
							</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row h-100 align-items-center">
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mx-auto form p-4">
			<div class="row justify-content-md-center">
				<div class="col-sm-12">
					<div class="card">
						<div method="post" class="bg-white rounded shadow-sm p-4 mb-5 rating-review-select-page">
							{% csrf_token %}
							<p style="font-weight:bold;font-size: 20px">Leave Comment</p>
							<div class="mb-4">
								<span class="star-rating" id="star-rating">
								</span>
							</div>
							<div class="form-group">
								<label>Your Comment</label>
								<textarea class="form-control" id="id-comment-text-area" name="comment-text-area" rows="5" onkeydown="bookCommentBoxListener()" onkeypress="bookCommentBoxListener()" onkeyup="bookCommentBoxListener()" required></textarea>
								<label id="id-minimum-characters-left">Minimum characters left: 100</label>
							</div>
							<div class="form-group">
								<button class="btn btn-primary btn-sm" type="submit" id="comment-submit-button" onclick="submitBookComment();" disabled> Submit Comment </button>
							</div>

							<hr/>
							<p style="font-weight:bold;font-size: 20px">All rating and reviews</p>
							<div id="id-book-comment-container"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">	
	$( document ).ready(function()
	{
		var favouriteBtn = eval('{{ shelf.inFavourites|yesno:"true,false" }}');
		var readingNowBtn = eval('{{ shelf.inReadingNow|yesno:"true,false" }}');
		var toReadBtn = eval('{{ shelf.inToRead|yesno:"true,false" }}');
		var haveReadBtn = eval('{{ shelf.inHaveRead|yesno:"true,false" }}');

		shelfButtonsComponent( favouriteBtn, "Favourites", "id_favourite_btn", "favourites", "div_favourite_container");
		shelfButtonsComponent( readingNowBtn, "Reading Now", "id_reading_now_btn", "readingNow", "div_readingNow_container");
		shelfButtonsComponent( toReadBtn, "To Read", "id_to_read_btn", "toRead", "div_toRead_container");
		shelfButtonsComponent( haveReadBtn, "Have Read", "id_have_read_btn", "haveRead", "div_haveRead_container");

		starRatingComponent(0);
		collectBookReviews();
	});

	function collectBookReviews()
	{
		newComments = [];
		{% for r in book.bookReviews.all %}

		newComments.push({
			'pk': '{{r.id}}',
			'full_name': '{{r.creator.get_full_name}}',
			'edited': '{{r.edited}}' == "True",
			'description': '{{r.description|linebreaksbr}}',
			'like_count': eval('{{r.likes.count}}'),
			'dislike_count': eval('{{r.dislikes.count}}'),
			'can_edit': '{{r.creator.pk}}' == '{{user.pk}}',
		});

		{% endfor %}
		
		displayCollectedBookReviews( newComments );
	}

	function displayCollectedBookReviews( newComments )
	{
		if ( newComments.length==0 )
			return;

		var unIdentifiedComments = [];

		for (var i = 0; i<newComments.length; i++)
		{
			var editDeleteComponent = '';

			if ( newComments[i].can_edit )
			{
				editDeleteComponent = `
				<a href="#" onclick="edit_forum_comment_text_area(`+newComments[i].pk+`);"><i class='far fa-edit' style='font-size:15px'></i> Edit</a>
				&nbsp;
				<a href="#" onclick="delete_forum_comment(`+newComments[i].pk+`);return false;"><i class='far fa-trash-alt' style='font-size:15px'></i> Delete</a>`;
			}

			var commentComponent = `
			<div class="book_comment_container_`+newComments[i].pk+`">
				<div class="container">
					<div class="row m-0">
						<div class="">
							<a class="text-decoration-none" href="#">
								<img class="" src="https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/avat-01-512.png" width="25" height="25" alt="...">
							</a>
						</div>
						<div class="flex-grow-1 pl-2">
							<a class="text-decoration-none" href="#">
								<span class="text-capitalize mb-0">`+newComments[i].full_name+`</span>
								<span class="small text-secondary m-0 mt-1" id="date_and_edited_msg_`+newComments[i].pk+`">1 day ago {% if f.edited %}(edited){% endif %}</span>
							</a>
						</div>
					</div>
					<div class="">
						<p class="my-2" id="forum_comment_text_`+newComments[i].pk+`">
							`+newComments[i].description+`
						</p>
					</div>
					<footer>
						<span id="comment_like_id_`+newComments[i].pk+`" type="button" class="btn btn-default btn-sm" onclick="like_comment(`+newComments[i].pk+`)">
							<i class='far fa-thumbs-up' style='font-size:15px'></i> (`+newComments[i].like_count+`)
						</span>
						<span id="comment_dislike_id_`+newComments[i].pk+`" type="button" class="btn btn-default btn-sm" onclick="dislike_comment(`+newComments[i].pk+`)">
							<i class='far fa-thumbs-down' style='font-size:15px'></i> (`+newComments[i].dislike_count+`)
						</span>
						&nbsp;
						`+editDeleteComponent+`
					</footer>
					<hr>
				</div>
			</div>
			`;

			$('#id-book-comment-container').prepend( commentComponent );
		}
		return displayCollectedBookReviews(unIdentifiedComments);
	}

	var starRenderedFirstTime = true;

	function starRatingComponent( counter )
	{
		// if user clicked the same star then clear all stars.
		if ( counter == $('.star-filled').length && !starRenderedFirstTime )
			return starRatingComponent( 0 );

		starRenderedFirstTime = false;

		$('#star-rating').empty();

		for (var i = 1; i <= counter; i++)
		{
			$('#star-rating').append( `<i class="fas fa-star star-filled" style="font-size: 20px; color: blue;" onclick="starRatingComponent(`+i+`)";></i>&nbsp;` );
		}

		for (var j = i; j <= 5; j++)
		{
			$('#star-rating').append( `<i class="far fa-star star-empty" style="font-size: 20px; color: blue;" onclick="starRatingComponent(`+j+`)"></i>&nbsp;` );
		}

		bookCommentBoxListener();
	}

	function shelfButtonsComponent( btnStatus, btnName, btnId, shelfName, btnContainer )
	{
		var newButton;
		if ( btnStatus )
			newButton = `<button id="`+btnId+`" type="button" status="true" onclick="updateShelf(`+btnStatus+`, '`+btnName+`', '`+btnId+`', '`+shelfName+`', '`+btnContainer+`')" class="btn btn-primary">`+btnName+`</button>`;
		else
			newButton = `<button id="`+btnId+`" type="button" status="false" onclick="updateShelf(`+btnStatus+`, '`+btnName+`', '`+btnId+`', '`+shelfName+`', '`+btnContainer+`')" class="btn btn-outline-primary">`+btnName+`</button>`;

		$('#'+btnContainer).append( newButton );
	}

	function updateShelf( btnStatus, btnName, btnId, shelfName, btnContainer )
	{
		{% if not user.is_authenticated %}
			alert("Unable to perform action at this time.");
			return;
		{% endif %}

		$('#'+btnContainer).empty();
		// change the button class prior to sending the request to the server to save time.
		shelfButtonsComponent( !btnStatus, btnName, btnId, shelfName, btnContainer );

		url = "{% url 'book:updateShelf' 'isbn' 'index' %}";
		url = url.replace('isbn', '{{book.isbn13}}')
		url = url.replace('index', shelfName)
		$.ajax({
			url: url,
			type: 'POST',
			data: {
				'csrfmiddlewaretoken': '{{ csrf_token }}',
			},
			async: true,
			success: function (response)
			{
				// suppose there was an error with the server or the new changes does not match with the changes made in the front end, then revert the button to their originals.
				if ( !response.action )
				{
					$('#'+btnContainer).empty();
					shelfButtonsComponent( btnStatus, btnName, btnId, shelfName, btnContainer );
				}
			}
		});
	}

	function showMore()
	{
		var textComponent = `
			{{book.unCleanData.description}}
			<a style="color:#007bff;cursor: pointer;" onclick="showLess();" >Show Less...</a>
		`;
		$('#p_book_description').empty();
		$('#p_book_description').append( textComponent );
	}

	function showLess()
	{
		var textComponent = `
			{{book.unCleanData.description|truncatechars:500}}
			<a style="color:#007bff;cursor: pointer;" onclick="showMore();" >Show More...</a>
		`;
		$('#p_book_description').empty();
		$('#p_book_description').append( textComponent );
	}

	function bookCommentBoxListener()
	{
		var boxLength = $("#id-comment-text-area").val().length;

		if ( boxLength >= 100 && $('.star-filled').length > 0 )
			$('#comment-submit-button').prop('disabled', false);
		else
			$('#comment-submit-button').prop('disabled', true);

		$("#id-minimum-characters-left").text("Minimum characters left: " + (100 - boxLength));
	}

	function submitBookComment()
	{
		{% if not user.is_authenticated %}
			alert("Unable to perform action at this time.");
			return;
		{% endif %}

		var newComment = $("#id-comment-text-area").val();
		var starCount = $('.star-filled').length;

		url = "{% url 'book:bookComment' 'isbn' 'action' %}";
		url = url.replace('isbn', '{{book.isbn13}}');
		url = url.replace('action', 'create');

		$.ajax({
			url: url,
			type: 'POST',
			data: {
				'csrfmiddlewaretoken': '{{ csrf_token }}',
				'newComment': newComment,
				'starCount': starCount,
			},
			async: true,
			success: function (response)
			{
				if (response.action)
				{
					response.bookReview.description = response.bookReview.description.split("\n").join("<br>");
					displayCollectedBookReviews([response.bookReview]);
				}
			}
		});

	}

	var swiper = new Swiper('.swiper-container', {
		// Default parameters
		slidesPerView: 1,
		spaceBetween: 10,
		loop: true,

		// Scrollbar
		scrollbar: {
			el: '.swiper-scrollbar',
			draggable: true,
		},

		// Navigation
		navigation: {
			nextEl: '.swiper-button-next',
			prevEl: '.swiper-button-prev',
		},

		// Responsive breakpoints
		breakpoints: {
			// when window width is >= 320px
			320: {
				slidesPerView: 2,
				spaceBetween: 20
			},

			// when window width is >= 480px
			480: {
				slidesPerView: 3,
				spaceBetween: 20
			},

			// when window width is >= 768px
			768: {
				slidesPerView: 4,
				spaceBetween: 20
			},

			// when window width is >= 993px
			993: {
				slidesPerView: 5,
				spaceBetween: 20
			},

			// when window width is >= 1200px
			1200: {
				slidesPerView: 6,
				spaceBetween: 20
			},

			// when window width is >= 1500px
			1500: {
				slidesPerView: 7,
				spaceBetween: 20
			}
		}
	});
</script>
{% endblock %}