{% extends "accounts/base.html" %}
{% load static %}
{% block content %}
<style type="text/css">
	body,html{height:40%;}

    .book-image {
        height: 170px;
        width: 140px;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
</style>
<div class="container h-100">
    <div class="row h-100 align-items-center">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mx-auto text-center form p-4">
            <form method="post">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <input class="form-control form-control-lg" type="text" name="booksearch" placeholder="Search for book">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    {% if bookResults %}

        <div class="row text-center text-red mb-5">
            <div class="col-lg-7 mx-auto">
                <h3 class="display-5">Search result(s) for "{{bookSearchQuery}}"</h3>
            </div>
        </div>

        {% for books in bookResults %}

            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <a href="" style="text-decoration: none;color: inherit;">
                    <ul class="list-group shadow">
                        <li class="list-group-item">
                            <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                                <div class="media-body order-2 order-lg-1">
                                    <h5 class="mt-0 font-weight-bold mb-2">{{books.unCleanData.title}}</h5>
                                    <p class="font-italic text-muted mb-0 small">Authors: {{books.unCleanData.authors}}</p>
                                    <p class="font-italic text-muted mb-0 small">
                                        {{books.unCleanData.ratingsCount}} ratings,
                                        {{books.unCleanData.averageRating}} average rating,
                                    </p>
                                    <div class="d-flex align-items-center justify-content-between mt-1">
                                        <h6 class="font-weight-bold my-2">Published by: {{books.unCleanData.publisher}}</h6>
                                        <ul class="list-inline small">
                                            <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                            <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                            <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                            <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                            <li class="list-inline-item m-0"><i class="fa fa-star-o text-gray"></i></li>
                                        </ul>
                                    </div>
                                </div>
                                <img class="book-image" src="{{books.unCleanData.thumbnail}}" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </div>
                        </li>
                    </ul>
                    </a>
                </div>
            </div>
            <br>
        {% endfor %}

    {% elif noResult %}
        <div class="alert alert-danger text-center" role="alert"> {{noResult}} </div>

    {% endif %}


    {% if recentlyAddedBooks %}
        <p style="font-weight:bold;font-size: 20px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Recently Added Books...</p>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {% for books in recentlyAddedBooks %}
                <div class="swiper-slide">
                    <a style="cursor: pointer;" href='/book_page/{{books.isbn_13}}'>
                        <p class="lead img-responsive">
                            <img src={{books.thumbnail}} alt="No Image" style="height: 200px;">
                        </p>
                        <p align="center">{{books.title}}</p>
                    </a>
                </div>
                {% endfor %}
            </div>

            <!-- Add Pagination -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

            <!-- If we need scrollbar -->
            <div class="swiper-scrollbar"></div>

        </div>

    {% endif %}

    <div class="w-75 p-4"></div>

    {% if booksBasedOnRatings %}
        <p style="font-weight:bold;font-size: 20px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Books Based on Ratings...</p>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {% for books in booksBasedOnRatings %}
                <div class="swiper-slide">
                    <a style="cursor: pointer;" href='/book_page/{{books.isbn_13}}'>
                        <p class="lead img-responsive">
                            <img src={{books.thumbnail}} alt="No Image" style="height: 200px;">
                        </p>
                        <p align="center">{{books.title}}</p>
                    </a>
                </div>
                {% endfor %}
            </div>

            <!-- Add Pagination -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

            <!-- If we need scrollbar -->
            <div class="swiper-scrollbar"></div>

        </div>

    {% endif %}

</div>

<script type="text/javascript">
    var swiper = new Swiper('.swiper-container', {
        // Default parameters
        slidesPerView: 1,
        spaceBetween: 10,
        loop: true,

        // Scrollbar
        scrollbar: {
            el: '.swiper-scrollbar',
            draggable: true,
        },

        // Navigation
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },

        // Responsive breakpoints
        breakpoints: {
            // when window width is >= 320px
            320: {
                slidesPerView: 2,
                spaceBetween: 20
            },

            // when window width is >= 480px
            480: {
                slidesPerView: 3,
                spaceBetween: 20
            },

            // when window width is >= 768px
            768: {
                slidesPerView: 4,
                spaceBetween: 20
            },

            // when window width is >= 993px
            993: {
                slidesPerView: 5,
                spaceBetween: 20
            },

            // when window width is >= 1200px
            1200: {
                slidesPerView: 6,
                spaceBetween: 20
            },

            // when window width is >= 1500px
            1500: {
                slidesPerView: 7,
                spaceBetween: 20
            }
        }
    });
</script>
{% endblock %}