body {
    /*background: #545963;*/
    /*color: white;*/
    /*margin-top: 20px;*/
}

.comment-wrapper .panel-body {
    max-height: 650px;
    overflow: auto;
}

.comment-wrapper .media-list .media img {
    width: 64px;
    height: 64px;
    border: 2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
    border-bottom: 1px dashed #efefef;
    margin-bottom: 25px;
}

.filled-star {
    color: green;
    font-size: 20px;
}

.empty-star {
    color: black;
    font-size: 20px;
}

.fa-star-half-o {
    color: green;
    font-size: 20px;
}

.glyphicon-thumbs-up, .glyphicon-thumbs-down{
    font-size: 15px;
}

.user-rating {
    direction: rtl;
    font-size: 20px;
    unicode-bidi: bidi-override;
    padding: 10px 30px;
    display: inline-block;
}

.user-rating input {
    opacity: 0;
    position: relative;
    left: -15px;
    z-index: 2;
    cursor: pointer;
}

.user-rating span.star:before {
    color: green;
    content: "ï€†";
}

.user-rating span.star {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    position: relative;
    z-index: 1;
}

.user-rating span {
    margin-left: -15px;
}

.user-rating span.star:before {
    color: green;
    content: "\f006";
}

.user-rating input:hover+span.star:before,
.user-rating input:hover+span.star~span.star:before,
.user-rating input:checked+span.star:before,
.user-rating input:checked+span.star~span.star:before {
    color: green;
    content: "\f005";
}

.selected-rating {
    color: green;
    font-weight: bold;
    font-size: 3em;
}

.selected-rating-2 {
    color: green;
    font-weight: bold;
    font-size: 3em;
}

.edit-delete-link {
    cursor: pointer;
}

.edit-delete-link:hover{
    color: lightblue;
}