{% extends "accounts/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/loginAndRegistration.css' %}" />
<div class="container">
    <br><br><br>
    <div class="login-container animated fadeInDown bootstrap snippets bootdeys">
        <div class="loginbox bg-white" style="-webkit-box-shadow:0 4px 8px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19)">
            <form method="post">

                {% if messages %}
                    {% for message in messages %}
                        <div style="color: black; text-align: center;" class="alert alert-danger" role="alert">{{message}}</div>
                    {% endfor %}
                {% endif %}
                
                {% csrf_token %}
                <div class="loginbox-title">Login</div>
                <div class="loginbox-social">
                    <div class="social-title ">Connect with Your Social Accounts</div>
                    <div class="social-buttons">
                        <a href="#" class="button-facebook">
                        <i class="social-icon fa fa-facebook"></i>
                        </a>
                        <a href="#" class="button-twitter">
                        <i class="social-icon fa fa-twitter"></i>
                        </a>
                        <a href="#" class="button-google">
                        <i class="social-icon fa fa-google-plus"></i>
                        </a>
                    </div>
                </div>
                <div class="loginbox-or">
                    <div class="or-line"></div>
                    <div class="or">OR</div>
                </div>

                <div class="loginbox-textbox">
                    {{form | crispy}}
                </div>
                <!-- <input type="text" name="uniqueVisitorId" id="uniqueVisitorId" hidden> -->
                <div class="loginbox-submit">
                    <input type="submit" class="btn btn-primary btn-block" value="Login">
                </div>
                <div class="loginbox-social">
                    <div class="social-title ">Forgot your password? <a href="#">Reset Here</a></div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">

    function showHidePassword() 
    {
        var password = $('#id_password');
         password.attr("type")=="password" ? password.attr("type","text") : password.attr("type","password");
    }

    function generateUniqueVisitorId()
    {

        if ( localStorage.getItem('uniqueVisitorId') )
        {
            $('#uniqueVisitorId').val( localStorage.getItem('uniqueVisitorId') );
            return;
        }

        var result = '';
        var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
        var charactersLength = characters.length;
        for ( var i = 0; i < 10; i++ )
        {
            result += characters.charAt(Math.floor(Math.random() * charactersLength));
        }

        localStorage.setItem('uniqueVisitorId', result)
        $('#id_uniqueVisitorId').val(result);
    }

    $( "#div_id_remember_me" ).addClass( "checkbox-inline" );
    $( "#div_id_remember_me" ).append( '<a class="pull-right" href="#" onclick="showHidePassword();" style="color: #007bff;">Show Password</a>' );
</script>
{% endblock %}