{% extends "accounts/base.html" %}
{% load static %}
{% block content %}
<style type="text/css">
    body,html{height:90%;}
</style>
<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4 border">
        	{% if message %}
            	<div style="color: black; text-align: center;" class="alert alert-danger" role="alert">{{message}}</div>
            {% endif %}
            <h2 class="display-4 py-2 text-truncate">Login</h2>
            <div class="px-2">
                <form method="post" class="justify-content-center">
                	{% csrf_token %}
                    <div class="form-group">
                        <label class="sr-only">Email</label>
                        <input type="text" class="form-control" name="username" placeholder="Email" value="{% if username %}{{username}}{% endif %}" required>
                    </div>
                    <div class="form-group">
                        <label class="sr-only">Password</label>
                        <input type="password" class="form-control" name="password" placeholder="Password" required/>
                    </div>
                    <div class="form-group">
                    	<div class="pull-left">
                    		<label class="checkbox-inline">
                    			<input type="checkbox" name="rememberMe" />&nbsp;&nbsp;Remember Me
                    		</label>
                    	</div>
                        <div class="pull-right"><a href="#" onclick="showHidePassword();">Show Password</a></div>
                    </div>
                    <input type="text" name="uniqueVisitorId" id="uniqueVisitorId" hidden>
                    <input type="submit" class="btn btn-primary btn-block" value="Login">
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
	function showHidePassword()
	{
		var password = $("[name='password']");
		password.attr("type")=="password" ? password.attr("type","text") : password.attr("type","password");

	}

	function generateUniqueVisitorId()
	{

		if ( localStorage.getItem('uniqueVisitorId') )
		{
			$('#uniqueVisitorId').val( localStorage.getItem('uniqueVisitorId') );
			return;
		}

		var result = '';
		var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
		var charactersLength = characters.length;

		for ( var i = 0; i < 10; i++ )
		{
			result += characters.charAt(Math.floor(Math.random() * charactersLength));
		}

		localStorage.setItem('uniqueVisitorId', result)
		$('#uniqueVisitorId').val(result);
	}

	generateUniqueVisitorId();
</script>
{% endblock %}