{% extends "accounts/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/loginAndRegistration.css' %}" />
<style type="text/css">
.login-container {
    max-width: 500px
}

.login-container .loginbox {
    width: 500px!important;
}
.login-container .loginbox .loginbox-social .social-buttons {

    padding-left: 137px
}
</style>
<div class="container">
    <br><br><br>
    <div class="login-container animated fadeInDown bootstrap snippets bootdeys">
        <div class="loginbox bg-white" style="-webkit-box-shadow:0 4px 8px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19)">
            <form method="post">

                {% if messages %}
                    {% for message in messages %}
                        <div style="color: black; text-align: center;" class="alert alert-danger" role="alert">{{message}}</div>
                    {% endfor %}
                {% endif %}
                
                {% csrf_token %}
                <div class="loginbox-title">Register</div>
                <div class="loginbox-social">
                    <div class="social-title ">Connect with Your Social Accounts</div>
                    <div class="social-buttons">
                        <a href="#" class="button-facebook">
                        <i class="social-icon fa fa-facebook"></i>
                        </a>
                        <a href="#" class="button-twitter">
                        <i class="social-icon fa fa-twitter"></i>
                        </a>
                        <a href="#" class="button-google">
                        <i class="social-icon fa fa-google-plus"></i>
                        </a>
                    </div>
                </div>
                <div class="loginbox-or">
                    <div class="or-line"></div>
                    <div class="or">OR</div>
                </div>

                <div class="loginbox-textbox">
                    {{form | crispy}}
                </div>
                <div class="loginbox-submit">
                    <input type="submit" class="btn btn-primary btn-block" value="Register">
                </div>
                <div class="loginbox-social">
                    <div class="social-title ">Already have an account? <a href="{% url 'accounts:login' %}">Sign in</a></div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}